APP_NAME=SalesIA Enterprise
APP_VERSION=1.0.0
ENVIRONMENT=development
DEBUG=true

API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/salesia

SECRET_KEY=cambiar-esta-clave
ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=http://localhost:5173
